<product-editor #editor></product-editor>
<blockquote>
    <div class="table-responsive">
        <table class="table nocollapse">
            <thead>
                <tr>
                    <th>Category name</th>
                    <th>Description</th>
                    <th>
                        <button class="btn btn-success" (click)="context.initDb( )">Refresh DB</button>
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let category of categories">
                <tr>
                    <td class="noborder">
                        <a href="#" (click)="OnClick(products, slider)">{{category.name}}</a>        
                    </td>
                    <td class="noborder">{{category.description}}</td>
                    <td class="noborder">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#editor" (click)="OnAdd(products, slider)">Add</button>
                    </td>
                </tr>
                <tr>
                    <td class="noborder" colspan="3">
                        <div #slider class="table-responsive slide">
                            <products #products [editor]="editor" category-id="{{category.id}}"></products>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</blockquote>