<div id="editor" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Product {{product.action}}</h4>
      </div>
      <div class="modal-body">
        <label for="product_name">Product name</label>
        <input #product_name id="product_name" type="text" class="form-control" value="{{product.name}}">
        <br>
        <label for="quantity_per_unit">Quantity / Unit</label>
        <input #quantity_per_unit id="quantity_per_unit" type="text" class="form-control" value="{{product.quantityPerUnit}}">
        <br>
        <label for="unit_price">Unit Price</label>
        <input #unit_price id="unit_price" type="text" class="form-control" value="{{product.unitPrice}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#notify" (click)="OnSave(product_name.value,quantity_per_unit.value,unit_price.value)">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="notify" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{notifyText}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>